<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Azure Blob Storage Example">
      <div class="container">

        <!-- Upload -->
        <div class="upload-area">
          <input type="file" class="form-control" (change)="onSelect($event)">
          <button class="btn btn-primary mt-2" [disabled]="!selected" (click)="upload()">Upload</button>
        </div>


        <hr>

        <!-- Files list -->
        <h5>Files</h5>

        <table class="table table-bordered" *ngIf="files.length > 0; else noFiles">
          <thead>
            <tr>
              <th>Name</th>
              <th style="width: 250px;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of files">
              <td>{{ f }}</td>
              <td>
                <button class="btn btn-success btn-sm" (click)="getUrl(f)">SAS URL</button>
                <button class="btn btn-info btn-sm" (click)="download(f)">Download</button>
                <button class="btn btn-danger btn-sm" (click)="delete(f)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

        <ng-template #noFiles>
          <p>No files found.</p>
        </ng-template>

        <!-- SAS URL Output -->
        <div class="alert alert-info mt-3" *ngIf="sasUrl">
          <strong>SAS URL:</strong>
          <br>
          <a [href]="sasUrl" target="_blank">{{ sasUrl }}</a>
          <img [src]="sasUrl" alt="">
        </div>

      </div>
    </app-card>
  </div>
</div>